show run
Building configuration...

Current configuration : 18224 bytes
!
! No configuration change since last restart
!
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
no service dhcp
!
hostname {{ inventory_hostname }}
!
boot-start-marker
boot-end-marker
!
enable secret {{ aaa.enable_secret }}
!
{% for local_user in aaa.local_users %}
username {{ local_user.user }} secret {{ local_user.pass }}
{% endfor %}
!
!
!
{% include "aaa.j2" %}
!
!
aaa session-id common
clock timezone EDT -5 0
no ip source-route
no ip gratuitous-arps
!
ip domain-name {{ domain.name }}
{% for server in domain.name_servers %}
ip name-server {{ server.ip }}
{% endfor %}
#Switching - VTP#
{% if inventory_hostname in groups['Switches'] %}
vtp domain {{ vtp.domain }}
vtp mode {{ vtp.mode }}

spanning-tree uplinkfast
spanning-tree extend system-id
spanning-tree mode rapid-pvst
{% for list in stp.priority %}
spanning-tree vlan {{ list.vlans }} priority {{ list.pri }}
{% endfor %}
{% endif %}
!
{% include "ssh.j2" %}
!
!
!
ip tcp selective-ack
!
!
no ip http server
no ip http secure-server
#Need to refine this line below
!
#When using a for loop to iterate on the same line (Shown above), MUST have an additional 
#newline before following line.
!
{% for iface in range(0,23) %}
interface {{ interface_schema.access }}{{ iface }}
 description USER_PORT
 switchport mode access
 spanning-tree bpduguard enable
 spanning-tree portfast
 no snmp trap link-status 

{% endfor %}
{% for iface in range (1,3) %}
interface {{ interface_schema.trunk }}{{ iface }}
 description TRUNK_PORT
 swithchport mode trunk
 switchport nonegotiate

{% endfor %}
kron policy-list Daily_Backup
 cli write memory
!
{% include "snmp.j2" %}
!
!
!
banner login ^CC
******************************  WARNING  ***************************
| This system is restricted solely to {{ banner.entity }} authorized personnel |
| for legitimate business purposes only. The actual or attempted   |
| unauthorized access, use or modification of this systems strictly|
| prohibited.  Unauthorized personnel are subject to {{ banner.entity }}     |
| disciplinary proceedings and/or criminal/civil penalties under   | 
| state, federal or other applicable domestic/foreign laws. The    |
| use of this system is monitored and recorded for administrative  |
| and security reasons. Anyone accessing this system expressly     |
| consents to such monitoring and is advised that if such          |
| monitoring reveals possible evidence of criminal activity,       |
| {{ banner.entity }} may provide the evidence of such activity to law         |
| enforcement officials.                                           |
********************************************************************
^C
alias exec sr show run
alias exec scn show cdp neighbors
!
line con 0
 password {{ console.password }}
line vty 0 4
 access-class {{ ssh.whitelist_name }} in
 exec-timeout 5 0
 password {{ ssh.vty_pass }}
 length 0
 transport input ssh
line vty 5 15
 access-class {{ ssh.whitelist_name }} in
 no exec
 transport input none
!
!
{% for server in ntp.servers %}
ntp server {{ server.ip }} key {{ server.psk }}
{% endfor %}
end
